.main {
  border-radius: $primary-radius;
  background-color: $background-color;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 20px 20px;
  max-width: $desktop-width;
  scrollbar-width: none;

 
  @include respond-to("small") {
    border-radius: 0;
    background-color: $white;
    height: auto;
    flex-flow: column nowrap;
    margin: 22px auto;
    padding: 25px 0 25px;
    max-width: 100%;
    
  }
}