.fiche__collapse {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 50px;
  @include respond-to("small") {
    max-width: 100%;
    margin: 0;
    flex-flow: column nowrap;
    gap: 10px;
  }

  &--description {
    width: 100%;
    font-size: 18px;
    @include respond-to("small") {
      max-width:100%;
      font-size: 13px;
    }
  }

  &--equipement {
    width: 100%;
    @include respond-to("small") {
      max-width: 100%;
      font-size: 13px;
    }
  }
}