@import "../../styles/Utlis/mixin";

.banner {
  border-radius: $primary-radius;
  background-image: linear-gradient(#6d6d6d58, #6d6d6d58), url(../../assets/img/banniere-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
   margin: 50px auto;
  max-width: $desktop-width;
  height: 223px;
  @include respond-to("small") {
    border-radius: 15px;
    margin: 0 35px;

    //margin: 19.71px 25px 0 25px;
   
  }
  &__title {
    font-size: 48px;
    color: $white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    @include respond-to("small") {
      font-size: 30px;
      height: 48px;
      margin-left: 16px;
    }
  }
}

.banner_about {
  border-radius: 15px;
  background-image: linear-gradient(#6d6d6d58, #6d6d6d58), url(../../assets/img/banniere-about-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 31px auto;
  max-width: $desktop-width;
  height: 223px;
  @include respond-to("small") {
    border-radius: 10px;
    height: 223px;
    margin: 35px 25px 35px ;
  }
}